<div class="stack-experience">
<div class="stack-experience-heading">
		<p>
			Have experience in ..
		</p>
	</div>
    <div class="stack-experience-body">
    {{component.experience}}
    </div>
</div>