/**
  TYPOGRAPHIC
  global typocraphic constants
**/

// font families

// weights
$font-thin: 300;
$font-normal: 400;
$font-medium: 600;  // demi
$font-bold: 700;  // bold
$font-bolder: 800;  // bolder
